# SPDX-FileCopyrightText: 2021 The freestyle-hid Authors
#
# SPDX-License-Identifier: 0BSD

name: pytest

on:
  push:
  pull_request:

jobs:
  pytest:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install .[dev,tools,encryption]
    - name: Test with pytest
      run: |
        pytest -vvv --mypy
